#home {

    background-image: url('../../assets/img/backgroundflags2.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: space-around;
   

    height: 100vh;
    width: 219vh;
    

    

    section {
        background-color: rgba(0,0,0,0.6);
        padding-left: $md;
        padding-right: $md;
        height: 80%;
        width: 35%;
        border-radius: 25px;
        overflow: scroll;

       
    }


    section::-webkit-scrollbar {
        width: 8px; /* Width of the scrollbar */
      }
      section::-webkit-scrollbar-thumb {
        background-color: gray; /* Color of the scrollbar thumb */
        border-radius: 5px; /* Rounded corners for the thumb */
      }
     
   
      
    .book {
        font-size: 8rem;
        color: goldenrod;
        text-align: center;
    }
    h1 {
        text-align: center;
        color: $off-white;
        margin-bottom: 15%;
        

    }
    
    a.play-button {
        display: block;
        border-radius: $button-radius;
        background-color: $green;
        color: #fff;
        cursor: pointer;
        padding: $sm;
        text-decoration: none;
        transition: 0.3s linear all;
        text-align: center;
        
        
       

        
    }

    a.play-button:hover {
        background-color: darken($green, 10%);
    }


    .desc-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: left;
        color: #fff;
        cursor: pointer;
        border-radius: 30px;
      
        font-size: $sm;
        
        

        p {
            
            margin-bottom: 10px;
            padding: 10px;
          }
        
          ul {
            list-style-type: disc;
            
            margin-top: 10px;
           
        
            li {
              margin-bottom: 10px;
            }
          }
        
    }

    
    
}