/* Set a background color and center content */
#quiz-page {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: $outfit, sans-serif;

    
      .quiz-container {
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 20px;
        max-width: 600px;
        width: 100%;
  }

  .quiz-image {
    height: 25vh;
    width: 45vh;
  }

     .question-container {
        font-size: 1.2rem;
        margin-bottom: 15px;

  }

  .answer-choices {
    
    display: block;

  }
  
    
    .answer-choices li {
      display: block;
      margin: 8px 0;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    .answer-choices li:hover {
      background-color: #e0e0e0;;
    }
    
   
    .selected {
      background-color: #e0e0e0;
    }
    .submit-button-container {
     
      display: flex;
      justify-content: center;
      margin: 15px;
    }

    .submit-button {
      
        
        border-radius: 3px;
        background-color: lighten(black, 20%);
        color: white;
        cursor: pointer;
        padding: $xs;
        text-decoration: none;
        text-align: center;
        margin-right: 10px;

    }
    
    
    


  }
  
  
 
  
