// fonts
$outfit:'Outfit', sans-serif;

// colors
$off-white: #f8f8f8;
$green: #57b846;
$red: #ea4355;

// Sizes
$xxs: 0.5rem;
$xs: 0.80rem;
$sm: 1rem;
$normal:1.35rem;
$md: 2rem;
$lg: 3rem;
$xlg: 5rem;
$xxlg: 7rem;

//Button radius
$button-radius: 30px;

$lang-toggle-pad: 10px;